{% extends "layout_vendor_account_management.html" %}

{% block pageTitle %}
Help to Grow: Digital
{% endblock %}

{% block beforeContent %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<p><a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="#" onclick="history.go(-1); return false;" >Back</a></p>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">AccountingSoft Pro: Pricing metrics step 2</span>
                <h1 class="govuk-fieldset__heading">
                  How do customers pay for [pricing metric step 1]?
                </h1>
              </legend>

              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-1" name="payment-type" type="radio" value="payment1">
                  <label class="govuk-label govuk-radios__label" for="payment-type-1">
                    Per active contacts (marketing)
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-2" name="payment-type" type="radio" value="payment2">
                  <label class="govuk-label govuk-radios__label" for="payment-type-2">
                    Per data storage volume
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-3" name="payment-type" type="radio" value="payment3">
                  <label class="govuk-label govuk-radios__label" for="payment-type-3">
                    Per contacts (accounting)
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-4" name="payment-type" type="radio" value="payment4">
                  <label class="govuk-label govuk-radios__label" for="payment-type-4">
                    Per integrated bank accounts
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-5" name="payment-type" type="radio" value="payment5">
                  <label class="govuk-label govuk-radios__label" for="payment-type-5">
                    Per number of customers
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-6" name="payment-type" type="radio" value="payment6">
                  <label class="govuk-label govuk-radios__label" for="payment-type-6">
                    Per number of adverts
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-7" name="payment-type" type="radio" value="payment7">
                  <label class="govuk-label govuk-radios__label" for="payment-type-7">
                    Per level of compliance controls
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-8" name="payment-type" type="radio" value="payment8">
                  <label class="govuk-label govuk-radios__label" for="payment-type-8">
                    Per globalisation options
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-9" name="payment-type" type="radio" value="payment9">
                  <label class="govuk-label govuk-radios__label" for="payment-type-9">
                    Per enhanced security and auditing options
                  </label>
                </div>


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-10" name="payment-type" type="radio" value="payment10">
                  <label class="govuk-label govuk-radios__label" for="payment-type-10">
                    Per customisation options (incl. branded comms)
                  </label>
                </div>


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-11" name="payment-type" type="radio" value="payment11">
                  <label class="govuk-label govuk-radios__label" for="payment-type-11">
                    Per included number of emails (per month)
                  </label>
                </div>



                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-12" name="payment-type" type="radio" value="payment12">
                  <label class="govuk-label govuk-radios__label" for="payment-type-12">
                    Per number of credit reports or AML checks
                  </label>
                </div>



                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-13" name="payment-type" type="radio" value="payment13">
                  <label class="govuk-label govuk-radios__label" for="payment-type-13">
                    Per bank transactions
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-14" name="payment-type" type="radio" value="payment14">
                  <label class="govuk-label govuk-radios__label" for="payment-type-14">
                    Per number of snapped receipts
                  </label>
                </div>


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-15" name="payment-type" type="radio" value="payment15">
                  <label class="govuk-label govuk-radios__label" for="payment-type-15">
                    Per number of updates
                  </label>
                </div>


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-16" name="payment-type" type="radio" value="payment16">
                  <label class="govuk-label govuk-radios__label" for="payment-type-16">
                    Per payslip
                  </label>
                </div>


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-17" name="payment-type" type="radio" value="payment17">
                  <label class="govuk-label govuk-radios__label" for="payment-type-17">
                    Per number of API calls
                  </label>
                </div>



                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-18" name="payment-type" type="radio" value="payment18">
                  <label class="govuk-label govuk-radios__label" for="payment-type-18">
                    Enhanced support and services
                  </label>
                </div>



                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="payment-type-19" name="payment-type" type="radio" value="payment19">
                  <label class="govuk-label govuk-radios__label" for="payment-type-19">
                    Account manager for specified duration
                  </label>
                </div>



              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">Continue</button>


    </div>
  </div>



  <script src="https://code.jquery.com/jquery-3.6.0.js"  crossorigin="anonymous"></script>

  <script type="text/javascript">

    $( document ).ready(function() {

      $('.govuk-button').click(function (e) {

          if ($('#payment-type-1').is(':checked')) {
            window.location.href = 'metric-contacts';
          }
          else if ($('#payment-type-2').is(':checked')) {
            window.location.href = 'metric-data';
          }
          else if ($('#payment-type-3').is(':checked')) {
            window.location.href = 'metric-accounting';
          }
          else if ($('#payment-type-4').is(':checked')) {
            window.location.href = 'metric-banks';
          }
          else if ($('#payment-type-5').is(':checked')) {
            window.location.href = 'metric-records';
          }
          else if ($('#payment-type-6').is(':checked')) {
            window.location.href = 'metric-adverts';
          }
          else if ($('#payment-type-7').is(':checked')) {
            window.location.href = 'metric-compliance';
          }
          else if ($('#payment-type-8').is(':checked')) {
            window.location.href = 'metric-global';
          }
          else if ($('#payment-type-9').is(':checked')) {
            window.location.href = 'metric-options1';
          }
          else if ($('#payment-type-10').is(':checked')) {
            window.location.href = 'metric-options2';
          }
          else if ($('#payment-type-11').is(':checked')) {
            window.location.href = 'metric-email';
          }
          else if ($('#payment-type-12').is(':checked')) {
            window.location.href = 'metric-checks';
          }
          else if ($('#payment-type-13').is(':checked')) {
            window.location.href = 'metric-transactions';
          }
          else if ($('#payment-type-14').is(':checked')) {
            window.location.href = 'metric-receipts';
          }
          else if ($('#payment-type-15').is(':checked')) {
            window.location.href = 'metric-updates';
          }
          else if ($('#payment-type-16').is(':checked')) {
            window.location.href = 'metric-employees';
          }
          else if ($('#payment-type-17').is(':checked')) {
            window.location.href = 'metric-api';
          }
          else if ($('#payment-type-18').is(':checked')) {
            window.location.href = 'metric-services';
          }
          else if ($('#payment-type-19').is(':checked')) {
            window.location.href = 'metric-manager';
          }

  });

  });

  </script>






{% endblock %}
