{% extends "layout_sme.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<p><a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="javascript:history.go(-1)">Back</a></p>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l"></span>
      <h1 class="govuk-heading-l">Do you want to buy this software?</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Software type
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['select-software-category'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">Company number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Software product
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['select-software'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">Company number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          New software
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['new-to-software'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence period</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Major upgrade
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="directors-dob">
              Change
              <span class="govuk-visually-hidden"> licence period</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Add on
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">Company number</span>
            </a>
          </dd>
        </div>

      </dl>

      <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="../task-list" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and continue
        </button>

      </form>

    </div>


  </div>
{% endblock %}
