{% extends "layout_sme.html" %}

{% block pageTitle %}
  Major upgrade
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<p><a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="new-to-software">Back</a></p>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form class="form" action="/sme-v3/major-upgrade-answer" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Is this a major upgrade from a previous version of {{ data['select-software'] }}?
              </h1>
            </legend>

            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="major-upgrade-1" name="major-upgrade" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="major-upgrade-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="major-upgrade-2" name="major-upgrade" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="major-upgrade-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>


  </div>

{% endblock %}
