{% extends "layout_sme.html" %}

{% block pageTitle %}
Help to Grow: Digital
{% endblock %}

{% block beforeContent %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<p><a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="">Back</a></p>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <form class="form" action="additional-all-answers" method="post">


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <span class="govuk-caption-l">Section 5 of 5</span>
                  <h1 class="govuk-fieldset__heading">
                    What is the value of this additional cost?
                  </h1>
                </legend>
                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="value-discount-duration-1" name="value-discount-duration" type="radio" value="pounds">
                    <label class="govuk-label govuk-radios__label" for="value-discount-duration-1">
                      £
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="value-discount-duration-2" name="value-discount-duration" type="radio" value="cycle">
                    <label class="govuk-label govuk-radios__label" for="value-discount-duration-2">
                     Payment cycle
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="value-discount-duration-2" name="value-discount-duration" type="radio" value="optional">
                    <label class="govuk-label govuk-radios__label" for="value-discount-duration-2">
                     Mandatory / optional
                    </label>
                  </div>


                </div>
              </fieldset>
            </div>




          <button class="govuk-button" data-module="govuk-button">Continue</button>
          <p class="govuk-body-m"><a href="additional-step-1" class="govuk-link govuk-!-font-weight-regular">Select another additional cost</a></p>

        </form>

    </div>


  </div>

{% endblock %}
