{% extends "layout_vendor_account_management.html" %}

{% block pageTitle %}
Help to Grow: Digital
{% endblock %}

{% block beforeContent %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<p><a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="#" onclick="history.go(-1); return false;" >Back</a></p>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">AccountingSoft Pro: Additional costs</span>
      <h1 class="govuk-heading-l"> Tell us about the additional cost</h1>

        <form class="form" action="additional-all-answers" method="post">

          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name1">
             Type of additional cost
            </label>
            <input class="govuk-input govuk-input--width-20" id="event-name1" name="event-name" type="text" aria-describedby="event-name-hint">
          </div>


          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name1">
             Cost
            </label>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" spellcheck="false">
            </div>
          </div>


          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name2">
              Payment cycle
             </label>
             <div id="event-name-hint" class="govuk-hint">
                Once, monthly, annually, other.
             </div>
            <input class="govuk-input govuk-input--width-10" id="event-name2" name="event-name" type="text" aria-describedby="event-name-hint">
          </div>


          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend">
                Is this mandatory or optional?
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="mandatory">
                  <label class="govuk-label govuk-radios__label" for="changed-name">
                    Mandatory
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="optional">
                  <label class="govuk-label govuk-radios__label" for="changed-name-2">
                    Optional
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

    </div>


  </div>

{% endblock %}
