{% extends "layout_sme.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<p><a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="../terms-and-conditions">Back</a></p>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Section 3 of 4</span>
      <h1 class="govuk-heading-l">Check your answers</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Applicant name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['applicant-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="name">
              Change
              <span class="govuk-visually-hidden"> Name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Applicant role
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['business-role'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="role">
              Change
              <span class="govuk-visually-hidden"> Role</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Applicant work email address
          </dt>
          <dd class="govuk-summary-list__value">
          {{ data['email'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="work-email">
              Change
              <span class="govuk-visually-hidden"> work email address</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Terms and conditions
          </dt>
          <dd class="govuk-summary-list__value">
           Accepted
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Privacy policy
          </dt>
          <dd class="govuk-summary-list__value">
           Accepted
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
        </div>


      </dl>

      <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="check-work-email" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and continue
        </button>

      </form>

    </div>

  </div>
{% endblock %}
