{% extends "layout_sme.html" %}

{% block pageTitle %}
  Check work email
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<p><a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="check-your-answers">Back</a></p>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Section 4 of 4</span>
      <h1 class="govuk-heading-l">Check your email inbox</h1>
      <p class="govuk-body">We have sent an email to: <strong>{{ data['email'] }}</strong></p>
      <p class="govuk-body">Select the link in the email to continue with your application.</p>
      <h2 class="govuk-heading-m">I didn't get the email</h2>
      <p class="govuk-body">Check your junk email folder. If the email is not there:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you can <a class="govuk-link" href="work-email">enter your work email address again</a></li>
        <li>we can <a class="govuk-link" href="work-email">resend the email</a></li>
      </ul>
      <p class="govuk-body">
        <a href="email-verified">Email address confirmed</a>
      </p>

    </div>
  </div>

{% endblock %}
