{% extends "layout_sme.html" %}

{% block pageTitle %}
  Work email
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<p><a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="role">Back</a></p>
{% endblock %}

{% block content %}

<div style="display:none" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#work-email">Enter your work email address</a>
      </li>
    </ul>
  </div>
</div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../terms-and-conditions" method="post">

        <div class="govuk-form-group">
          <span class="govuk-caption-l">Section 3 of 4</span>
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="email">
            What is your work email address?
          </label></h1>

          <p class="govuk-body">We will use this to send your software discount link.</p>
          <div id="email-hint" class="govuk-hint">Work email address</div>
          <span style="display:none" id="work-email" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Enter an email address in the correct format, like name@example.com
          </span>
          <input class="govuk-input govuk-!-width-three-quarters" id="email" name="email" type="text" spellcheck="false" aria-describedby="email-hint" autocomplete="email">

        </div>

        <button class="govuk-button work-email" data-module="govuk-button">Continue</button>

      </form>

    </div>

    
  </div>

{% endblock %}
