{% extends "layout_vendor_account_management.html" %}

{% block pageTitle %}
Help to Grow: Digital
{% endblock %}

{% block beforeContent %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<p><a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="#" onclick="history.go(-1); return false;" >Back</a></p>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <form class="form" action="trial-payment" method="post">

            <span class="govuk-caption-l">AccountingSoft Pro: Free trial</span>
            <div class="govuk-form-group">

              <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
                  How long is the free trial?
                </label>
              </h1>

              <br>

              <input class="govuk-input govuk-input--width-10" id="trial-period" name="trial-period" type="text">


            </div>

            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>


    </div>
  </div>

{% endblock %}
