{% extends "layout_sme.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="" method="post">


      <h1 class="govuk-heading-xl">Your feedback</h1>
      <h2 class="govuk-heading-m">Satisfaction survey</h2>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
            Overall, how did you feel about the service you received today?
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radio-survey-1" name="radio-survey" type="radio" value=" Very satisfied">
              <label class="govuk-label govuk-radios__label" for="radio-survey">
                Very satisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radio-survey-2" name="radio-survey" type="radio" value="Satisfied">
              <label class="govuk-label govuk-radios__label" for="radio-survey-2">
                Satisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radio-survey-3" name="radio-survey" type="radio" value="Neither satisfied or dissatisfied">
              <label class="govuk-label govuk-radios__label" for="radio-survey-3">
                Neither satisfied or dissatisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radio-survey-4" name="radio-survey" type="radio" value="Dissatisfied">
              <label class="govuk-label govuk-radios__label" for="radio-survey-4">
                Dissatisfied
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="radio-survey-4" name="radio-survey" type="radio" value="Very dissatisfied">
              <label class="govuk-label govuk-radios__label" for="radio-survey-4">
                Very dissatisfied
              </label>
            </div>
          </div>

        </fieldset>
      </div>



      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1200">
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-!-font-weight-bold" for="feedback-hint">
              How could we improve this service?
            </label>
          </h1>
          <div id="feedback-hint-hint" class="govuk-hint">
            Do not include any personal or financial information, for example your National Insurance or credit card numbers.
          </div>
          <textarea class="govuk-textarea govuk-js-character-count" id="feedback-hint" name="feedback-hint" rows="5" aria-describedby="feedback-hint-info feedback-hint-hint"></textarea>
        </div>

        <div id="feedback-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
          You can enter up to 1200 characters
        </div>

      </div>

      <button class="govuk-button" data-module="govuk-button">Send feedback</button>

    </form>


  </div>
</div>


{% endblock %}
