{% extends "layout_sme.html" %}

{% block pageTitle %}
  Start page
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Apply for discount on business software</h1>

            <p class="govuk-body">Eligible businesses can save 50% off the cost of a selection of business software, such as accounting and customer relationship management (CRM), up to a maximum of £5,000.</p>

            <p class="govuk-body">To be eligible for the discount your business should:</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>be registered in the UK at Companies House or with the Financial Conduct Authority (FCA)</li>
            <li>have been trading for more than 12 months</li>
            <li>employ between 5 and 249 people</li>
            <li>be buying the software for the first time</li>
            </ul>

            <p class="govuk-body">The person applying for the discount should be:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>aged 18 or over</li>
                <li>the company director or an employee of the business</li>
                <li>authorised to agree to the terms and conditions</li>
            </ul>


            <!--
            <li>be buying the software for the first time or upgrading business software</li>
            -->

            <h2 class="govuk-heading-m">What you'll need to tell us</h2>
            <!--<div class="govuk-inset-text">-->
            <!-- <p class="govuk-body">'Approved person' means......</p> -->
            <p class="govuk-body">You'll need to tell us:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>the Companies House number, or FCA number, of the business</li>
                <li>your name, position in the company and work email address</li>
            </ul>

            <form class="form" action="" method="">
                <a href="software/select-software-category" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
                    Start now
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg></a>
            </form>

            <h2 class="govuk-heading-m">Before you start</h2>

            <p class="govuk-body">You'll need to know the business software you want to buy.</p>

            <p class="govuk-body">You can compare and choose eligible business software on the <a href="#" class="govuk-link">Help to Grow: Digital Learning Platform</a>.</p>


        </div>
        <!--
        <p class="govuk-body">You will need to take a look at approved software before you start.<a href="#" class="govuk-link">here.</a></p>
        -->

        <div class="govuk-grid-column-one-third">

            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                Useful links
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                  <li>
                  <a href="#" class="govuk-link">
                      Terms and conditions
                  </a>
                  </li>
                    <li>
                    <a href="#" class="govuk-link">
                        Privacy policy
                    </a>
                    </li>
                    <li>
                    <a href="#" class="govuk-link">
                        Learning platform
                    </a>
                    </li>
                </ul>
                </nav>
            </aside>
        </div>
    </div>
{% endblock %}
