{% extends "layout_sme.html" %}

{% block pageTitle %}
  Terms and conditions and Privacy Consent
{% endblock %}


{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<p><a class="govuk-back-link  govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="applicant/work-email">Back</a></p>
{% endblock %}

{% block content %}


  <div style="display:none" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#terms-policy">Select if you have read and accepted both the terms and conditions and privacy policy</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="terms-policy" action="applicant/check-your-answers" method="get">

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Section 3 of 6</span>
              <h1 class="govuk-fieldset__heading">
                Terms and conditions and privacy policy
              </h1>
            </legend>
            <span style="display:none" id="terms-policy" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Select if you have read and accepted both the terms and conditions and privacy policy
            </span>
            <p>
              Before you apply for your software discount for <strong>{{ data['select-software'] }}</strong>, you will need to read and accept the <a href="#" class="govuk-link">terms and conditions</a> and agree to the <a href="#" class="govuk-link">privacy policy</a>.
            </p>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="terms-policy-1" name="terms-policy" type="checkbox" value="terms">
                <label class="govuk-label govuk-checkboxes__label" for="terms-policy">
                  I have read and accept the terms and conditions
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="terms-policy-2" name="terms-policy" type="checkbox" value="privacy">
                <label class="govuk-label govuk-checkboxes__label" for="terms-policy-2">
                  I have read and agree to the privacy policy
                </label>
              </div>
            </div>
          </fieldset>

        </div>


        <button class="govuk-button" data-module="govuk-button">
          Accept and continue
        </button>

      </form>



    </div>







  </div>

{% endblock %}
