{% extends "layout_sme.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<p><a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="../task-list">Back</a></p>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">Company details</span>
      <h1 class="govuk-heading-l">Check your answers</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of employees
          </dt>
          <dd class="govuk-summary-list__value">
            6
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">Company number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Company director's name
          </dt>
          <dd class="govuk-summary-list__value">
            Marlowe Upton
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> licence period</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Company director's date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            4 June 1987
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="directors-dob">
              Change
              <span class="govuk-visually-hidden"> licence period</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Companies House number
          </dt>
          <dd class="govuk-summary-list__value">
            502135326
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">Company number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            Great accounting app
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden">Company name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company address
          </dt>
          <dd class="govuk-summary-list__value">
            72 Guild Street
            <br>London
            <br>SE23 6FH
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
      </dl>

      
      <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="../task-list" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

      </form>

    </div>







  </div>
{% endblock %}
