{% extends "layout_sme.html" %}

{% block pageTitle %}
  Companies House number
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
<p><a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="financial-conduct-authority-question">Back</a></p>
{% endblock %}

{% block content %}

  <div style="display:none" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#fca-number">Enter the Financial Conduct Authority number</a>
        </li>
      </ul>
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="check-company-details" method="get">

          <div class="govuk-form-group">
            <span class="govuk-caption-l">Section 2 of 4</span>
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="fca-number">
              What is the Financial Conduct Authority number?
              </label>
            </h1>
            <div id="fca-number-hint" class="govuk-hint">For example, SP450735</div>
            <span style="display:none" id="fca-number" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>Enter the Financial Conduct Authority number
            </span>
            <input class="govuk-input" id="fca-number" name="fca-number" type="text" aria-describedby="fca-number-hint">
          </div>

          <button class="govuk-button fca-number" data-module="govuk-button">Continue</button>

        </form>

    </div>

    
  </div>

{% endblock %}
