{% extends "layout_sme.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block beforeContent %}
{% include "includes/phasebanner.html" %}
<img src="/public/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo">
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Your business is not eligible for the discount</h1>

      <p class="govuk-body">
        This is because the business does not employ between 5 and 249 people.
      </p>

      <h2 class="govuk-heading-m">Appeal</h2>

      <p class="govuk-body">Lorem ipsum.</p>

      <h2 class="govuk-heading-m">Register your interest</h2>

      <p class="govuk-body">Lorem ipsum.</p>

      <h2 class="govuk-heading-m">Visit the Learning Platform for help and support</h2>

      <p class="govuk-body">Lorem ipsum.</p>

      <p class="govuk-body"><a href="../feedback">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>


  </div>

{% endblock %}
